@import url("https://fonts.google.com/specimen/Nunito+Sans");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Light Mode Colors */
    --lightModeBackground: hsl(0, 0%, 98%);
    --lightModeText: hsl(200, 15%, 8%);
    --lightModeInput:  hsl(0, 0%, 52%);
    --lightModeElements: hsl(0, 0%, 100%);
    /* Dark Mode Colors */
    --darkModeBackground: hsl(207, 26%, 17%);
    --darkModeElements: hsl(209, 23%, 22%);
    --darkModeText: hsl(0, 0%, 100%);
    /* Others */
    --textFont: 'Nunito Sans', sans-serif;
    --elementsShadowBottom: 0 2px 3px rgba(216, 213, 213, 0.39); 
    --elementsShadowTop: 0 -2px 3px rgba(216, 213, 213, 0.39);
}
body {
    background: var(--lightModeBackground);
    font-family: var(--textFont);
}
/* Header */
.a-header {
    background: var(--lightModeElements);
    padding: 30px 20px;
    box-shadow: var(--elementsShadowBottom);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.h-header__themeSwitch {
    font-weight: 600;
    font-size: 14px;
}
.h-header__themeSwitch span {
    display: inline-block;
    text-indent: 6px;
}
.h-header__icon {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
/* Search and filter fields */
.b-inputs {
    padding: 30px 20px;
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
}
.b-inputs__searchBox {
    width: 500px;
    position: relative;
}
.b-inputs__searchBox input {
    padding: 12px;
    width: 100%;
    text-indent: 60px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--elementsShadowBottom),
    var(--elementsShadowTop);
    cursor: text;
}
.b-inputs__searchBox input:focus {
    outline: 0;
}
.b-inputs__searchIcon {
    color: rgb(165, 165, 165);
    position: absolute;
    left: 30px;
    top: 13px;
    cursor: pointer;
}
.b-inputs__filterBox select {
    padding: 12px 50px 12px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: var(--elementsShadowBottom),
    var(--elementsShadowTop);
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
    background-size: 12px;
    background-position-x: calc(100% - 10px);

}
.b-inputs__filterBox select:focus {
    outline: 0;
}
/* Countries Section */
.c-countries {
    background: red;
    height: fit-content;
    padding: 30px 20px;
}
.c-countries__list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}
.c-countries__list li {
    background:var(--lightModeElements);
    border-radius: 5px;
    box-shadow: var(--elementsShadowBottom),
    var(--elementsShadowTop);
}
.c-countries__list li img {
    max-width: 100%;
}
@media (max-width: 768px) {
    .b-inputs {
      flex-flow: column wrap;
    }
    .b-inputs__searchBox {
        width: 100%;
    }
    .b-inputs__filterBox {
        margin-top: 40px;
    }
    .b-inputs__filterBox select {
        width: 50%;
    }
}
@media (max-width: 375px) { /* Mobile first */
    /* Header */
    .a-header__title h1 {
        font-size: 20px;
    }
    .a-header__themeSwitch {
        font-size: 14px;
    }
}