@import url("https://fonts.google.com/specimen/Nunito+Sans");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* Light Mode Colors */
    --lightModeBackground: hsl(0, 0%, 98%);
    --lightModeText: hsl(200, 15%, 8%);
    --lightModeInput:  hsl(0, 0%, 52%);
    --lightModeElements: hsl(0, 0%, 100%);
    /* Dark Mode Colors */
    --darkModeBackground: hsl(207, 26%, 17%);
    --darkModeElements: hsl(209, 23%, 22%);
    --darkModeText: hsl(0, 0%, 100%);
    /* Others */
    --textFont: 'Nunito Sans', sans-serif;
    --elementsShadowBottom: 0 2px 3px rgba(216, 213, 213, 0.39); 
    --elementsShadowTop: 0 -2px 3px rgba(216, 213, 213, 0.39);
}
body {
    background: var(--lightModeBackground);
    font-family: var(--textFont);
    color: var(--lightModeText);
}
/* Header */
.a-header {
    background: var(--lightModeElements); 
    padding: 30px 20px;
    box-shadow: var(--elementsShadowBottom);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.h-header__themeSwitch {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.h-header__themeSwitch span {
    display: inline-block;
    text-indent: 6px;
}
.h-header__icon {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
/* Search and filter fields */
.b-inputs {
    padding: 30px 20px;
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
}
.b-inputs__searchBox {
    width: 500px;
    position: relative;
}
.b-inputs__searchBox input {
    padding: 12px;
    width: 100%;
    text-indent: 60px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--elementsShadowBottom),
    var(--elementsShadowTop);
    cursor: text;
    background-color: var(--lightModeElements);
}
.b-inputs__searchBox input:focus {
    outline: 0;
}
.b-inputs__searchIcon {
    color: rgb(165, 165, 165);
    position: absolute;
    left: 30px;
    top: 13px;
    cursor: pointer;
}
.b-inputs__filterBox div {
    padding: 12px 50px 12px 20px;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--elementsShadowBottom),
    var(--elementsShadowTop);
    cursor: pointer;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
    background-size: 12px;
    background-position-x: calc(100% - 10px);
    background-color: var(--lightModeElements);
}
/* Dropdown */
.dropdown {
    margin-top: 3px;
    display: none;
    background: var(--lightModeElements) !important;
}
.option {
    margin-top: 5px;
    transition: .2s;
}
.option:hover {
    opacity: 0.5;
}
.dropdown--display {
    display: block;
}
/* Countries section */
.c-countries {
    height: fit-content;
    padding: 30px 20px;
}
.c-countries h2 {
    text-align: center;
    display: block;
}
.c-countries__list {
    margin-top: 20px;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}
.c-countries__list li {
    background:var(--lightModeElements); 
    border-radius: 5px; 
    max-width: fit-content;
    padding-bottom: 35px;
    box-shadow: var(--elementsShadowBottom),
    var(--elementsShadowTop);
}
.c-countries__list li img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.c-countries__list li h3 {
    width: 100%;
    margin-top: 15px;
    text-indent: 25px;
    font-weight: 800;
    cursor: pointer;
}
.c-countries__list li h3:hover {
    opacity: 0.5;
}
.c-countries__list li p {
    font-size: 14px;
    text-indent: 25px;
}
.c-countries__list li :nth-child(2) {
    margin-top: 15px;
}
.c-countries__list li :nth-child(n + 3) {
    margin-top: 10px;
}
/* Color switch */
.lightMode {
    display: none;
}
/* Dark Mode */
.moon-inative {
    display: none;
}
.sun-active {
    display: flex;
}
.body--active {
    background: var(--darkModeBackground);
    color: var(--darkModeText);
}
.a-header--active, 
.b-inputs__searchBox .input--active, 
.b-inputs__filterBox .filter--active, 
.c-countries__list--active li {
    background: var(--darkModeElements);
    box-shadow: none;
    color: var(--darkModeText);
}
.b-inputs__filterBox .filter--active {
    background: url(http://vfconsultoria.com/wp-content/uploads/2018/07/ICON-SETA-BRANCA-baixo.png) no-repeat right;
    background-size: 12px;
    background-position-x: calc(100% - 10px);
    background-color: var(--darkModeElements);
}
.b-inputs__filterBox .dropdown--active {
    background: var(--darkModeElements) !important;
    color: var(--darkModeText);
    box-shadow: none;
}
@media (max-width: 900px) {
    /* Countries section */
    .c-countries__list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 768px) { /* Tablets */
    /* Search and filter fields */
    .b-inputs {
      flex-flow: column wrap;
    }
    .b-inputs__searchBox {
        width: 100%;
    }
    .b-inputs__filterBox {
        margin-top: 40px;
    }
    .b-inputs__filterBox select {
        width: 50%;
    }
    /* Countries section */
    .c-countries__list {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .c-countries__list {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 375px) { /* Mobile first */
    /* Header */
    .a-header__title h1 {
        font-size: 20px;
    }
    .a-header__themeSwitch {
        font-size: 14px;
    }
    /* Countries section */
    .c-countries__list {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .c-countries__list li {
        margin-top: 20px;
    }
}